USE [master]
GO
/****** Object:  Database [Test Database]    Script Date: 11/14/2018 3:57:03 PM ******/
CREATE DATABASE [Test Database]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Test Database', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Test Database.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Test Database_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Test Database_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Test Database].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Test Database]
GO
/****** Object:  Table [dbo].[Table_1]    Script Date: 11/14/2018 3:57:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_1](
	[a] [nchar](10) NULL,
	[b] [nchar](10) NULL,
	[c] [nchar](10) NULL,
	[d] [nchar](10) NULL,
	[e] [nchar](10) NULL
) ON [PRIMARY]

GO
USE [master]
GO
